<p>Choose an address to generate a {{tokenType | uppercase}} deposit link for:</p>
<div [formGroup]="form">
  <md-select formControlName="address" placeholder="Select Address" class="input-field">
    <md-option *ngFor="let address of walletService.allAddresses() | async" [value]="address.address">
      {{ address.address }}
    </md-option>
  </md-select>
  <div [hidden]="!tokenAddress">
    <div class="spo-ada-token-addrtitle">DepositAddress</div>
    <div class="spo-ada-token-addr">{{tokenAddress}}</div>
    <div class="spo-ada-qrbox">
      <div #DepositQR></div>
    </div>
  </div>
</div>
<div class="button-line">
  <a md-raised-button (click)="generate(tokenType)" [disabled]="loading" color="primary">Generate</a>
  <a md-raised-button (click)="closeDialog()" [disabled]="loading">Close</a>
</div>
