.skycoin-details {
  margin-top: 40px;
  background-color: #eee;
  margin-bottom: 20px;
}
.mat-list-item{
  padding: 8px 0;
}
.spo-buy-typelist{
  width: 100%;
  display: flex;
  border-bottom: solid 1px #CCCCCC;
}
.spo-buy-typelist > .spo-buy-typelist-content {
  flex: 1;
  min-width: 0;
}
.spo-buy-typelist > .spo-buy-typelist-content label {
  font-size: 18px;
}
.spo-buy-typelist > .spo-buy-typelist-content p {
  font-size: 16px;
  color: #888888;
  margin: 0 0 6px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.spo-buy-typelist > .spo-buy-typelist-btnbox {
  display: flex;
  align-items: center;
}